bg-color = #efefef

// text
text-color= rgba(51, 51, 51, 0.80)
// theme
primary-color = #4A4A4A
accent-color = #18FFFF
hero-color = #A0CE95
purple = #82619B
pink = #C364D4
white = #FFFFFF
bg-gradient = radial-gradient(ellipse at center, #F5F5F5 0%, #757575 100%)
navbar = linear-gradient(to right, rgba(140,218,82,1) 0%,rgba(49,99,189,1) 100%);

//expand colors
color1= #244F75
color2= #60BFBF
color3= #8C4B7E
color4= #F8BB44
color5= #F24B4B
