@import '../styles'
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,100,500,700);
//import noto sans


html
body
  height 100%

body
  font-family 'Lato', sans-serif
  font-weight 400
  width 100%
  height 100%
  margin 0
  *
    box-sizing border-box
a
  color white
  text-decoration none
  &:visited
    color white
  &:hover
  &:active
    text-decoration none

#app
  header nav
    height navbar-height
    background-color primary-color
    makeShadow(2)
    position fixed
    min-width 100%
    padding 15px
    .logo
      span(1/8)
      color white
      font-size 1.8rem
      cursor pointer
    .links
      span(2/8, 5/8, 2)
      *
        font-size 1.3rem
  main
    padding-top navbar-height

  section.container
    +widerthan(600px)
      width 1200px
      margin-left auto
      margin-right auto
  section.container
    display -webkit-flex
    display flex
    -webkit-flex-flow row wrap
    flex-flow row wrap

    .c1, .c2, .c3, .c4, .c5
      width 100%

    .c2, .c3, .c4, .c5
      +widerthan(mobile)
        width 50%
    .c1
      +widerthan(tablet)
        width 60%
    .c2
      +widerthan(tablet)
        width 40%
    .c3, .c4, .c5
      +widerthan(tablet)
        width 33.33%
    p
      font-size 1em
      line-height 1.421em
      color rgba(51, 51, 51, 0.80)
      margin 0px 0px 1.421em 0px

    p.intro
      font-size 1.368em
      text-align center
      line-height 1.5em

    .c1
      background-color red
    .c2
      background-color blue
    .c3
      background-color orange

    section
      box-sizing border-box
      min-height 150px
      min-width 150px

navbar
  background navbar

